@tailwind base;
@tailwind components;
@tailwind utilities;

.search-results {
  height: calc(100vh - 100px);
  @apply absolute overflow-auto;
}

.loader {
  transform: scale(0.5, 0.5);
  width: 30px;
}

.socials {
  @apply flex flex-wrap;
}

.social-row {
  @apply m-2;

  @screen md {
    @apply m-4;
  }
}

.social-link {
  @apply flex my-3 items-center;
}
